body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    max-width: 120ch;
    margin: auto auto;
    color: white;
}

body img {
}

#forum_list {
}

/* Link Styles */
a {
    color: #a4bb6a;
    text-decoration: none;
}

a:hover {
    color: #cbcc57;
    text-decoration: underline;
}

/* Archive Note Styles */
.archive_note {
    color: silver;
    border-radius: 5px;
    width: 70%;
    border: 1px solid #333333;
    margin: 1em;
    margin-top: 0em;
    padding: 1em;
}

/* Crumbs styles */
.crumbs {
    font-weight: bold;
    margin-left: 1em;
}

.crumbs .forum_description {
    font-weight: normal;
    font-size: small;
}

/* Forum list styles */
.category_row {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 50% 25% auto;
    font-weight: bold;
    color: white;
    padding: 10px;
    background-image: linear-gradient(rgb(43, 43, 43), black);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 25px;
    padding-left: 10px;
}

.category_row div {
    font-size: medium;
}

.forum_row {
    display: grid;
    grid-template-columns: 50% 25% auto;
    margin-bottom: 1px;
}

.forum_row div {
    background-color: #3f4829;
    color: white;
    padding: 10px;
    padding-left: 20px;
}

.forum_title {
    font-size: large;
    font-weight: bold;
    /* text-decoration: none; */
}

.forum_description {
    font-size: medium;
}

.stats_header {
    text-align: right;
}

.forum_stats {
    font-size: medium;
    text-align: right;
}

/* forum page / thread list styles */
.thread_row_header {
    display: grid;
    grid-template-columns: 50% 25% auto;
    font-weight: bold;
    color: white;
    padding: 10px;
    background-image: linear-gradient(rgb(43, 43, 43), black);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 15px;
}

.thread_row_header div {
    font-size: medium;
    padding-right: 20px;
    padding-left: 20px;
}

.thread_row {
    display: grid;
    grid-template-columns: 50% 25% auto;
    border-bottom: 1px solid black;
}

.thread_row div {
    background-color: #3f4829;
    color: white;
    padding: 10px;
    padding-left: 20px;
    border-left: 1px solid black;
}

.thread_row div.thread_stats {
    font-size: small;
    text-align: right;
    /* background-color: #1f2314; */
    padding-right: 20px;
}

.last_post {
    font-size: small;
}

.post_info {
    font-size: small;
}

/* Thread page - list of posts styles */
.post_row_header {
    display: grid;
    grid-template-columns: auto;
    font-weight: bold;
    color: white;
    padding: 10px;
    background-image: linear-gradient(rgb(43, 43, 43), black);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 15px;
}

.post_row_header div {
    font-size: medium;
    padding-right: 20px;
    padding-left: 20px;
}

.post_date_row {
    display: grid;
    grid-template-columns: auto;
    background-image: linear-gradient(#626950, #414a2b);
    font-size: small;
    padding: 5px;
    border-bottom: 1px solid black;

}

.post_row {
    display: grid;
    grid-template-columns: 200px auto;
    border-bottom: 10px solid black;
}

.post_row div.post_user_info {
    background-color: #1f2314;
    padding: 10px;
}

.post_user {
    font-weight: bold;
    font-size: medium;
    margin-bottom: 5px;
    color: #a4bb6a;
}

.post_user_title {
    font-size: small;
}

.post_user_num_posts {
    font-size: small;
}

.post_row div.post_content {
    background-color: #2c321c;
    color: white;
    border-left: 1px solid black;
}

.post_text {
    padding: 10px;
}

.post_attachment {
    margin-left: 20px;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    margin-bottom: 10px;
}

.post_signature {
    padding: 10px;
    margin-top: 20px;
    border-top: 1px solid black;
}

.post_text img {
    max-width: 95%;
}

/* BB CODE styles */
.bbcode_quote_header {
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    color: silver;
}

.bbcode_quote_body {
    font-weight: normal;
    padding-top: 10px;
    padding-left: 20px;
}

.bbcode_code_header {
    /* border: 1px solid black; */
    border-radius: 5px;
    /* background-color: black; */
    padding: 10px;
    /* color: silver; */
}

.bbcode_code_body {
    font-weight: normal;
    padding-top: 10px;
    padding-left: 20px;
    font-family: monospace;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
}

/* Thread list pager */
div.forum_pager {
    margin: 0px;
    margin-top: 10px;
    text-align: right;
    margin-bottom: 0px;
    padding: 0px;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, auto); */
}

.forum_pager a {
    background-color: #1f2314;
    display: inline-block;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    /* display: table-cell; */
    text-align: center;
    width: 3ch;
    padding: 5px;
}

.forum_pager .current_page {
    background-color: #3f4829;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    /* display: table-cell; */
    text-align: center;
    width: 3ch;
    padding: 5px;
    font-weight: bold;
}

/* Search form styles */
form {
    margin: 1em;
}

input[type=text] {
    background-color:rgb(43, 43, 43);
    color: silver;
    border: 1px solid silver;
    padding: 5px;
    border-radius: 5px;
}

input[type=submit] {
    border-radius: 5px;
    background-color: #5a6248;
    color: white;
    padding: 5px;
    font-weight: bold;
    border: 1px solid silver;
}

input[type=submit]:hover {
    background-image: linear-gradient(rgb(43, 43, 43), black);
}

/*
 * Footer styles
 */
#footer {
    margin: 10px;
    padding: 10px;
    padding-left: 0px;
    color: white;
    font-size: medium;
}
